### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr
*.class
*.jar
*.MF
*.bin
*.idx
*.js
*.html
*.css
/target/
/out/
/core/out/
